In [30]:
import pandas as pd
from sklearn import linear_model
from sklearn.model_selection import train_test_split
import matplotlib as plt
import numpy as np

In [21]:
business = pd.read_json('yelp_dataset/business.json', lines=True)
checkin = pd.read_json('yelp_dataset/checkin.json', lines=True)
photo = pd.read_json('yelp_dataset/photo.json', lines=True)
#review = pd.read_json('yelp_dataset/review.json', lines=True)
tip = pd.read_json('yelp_dataset/tip.json', lines=True)
#user = pd.read_json('yelp_dataset/user.json', lines=True)

In [39]:
states = ["AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DC", "DE", "FL", "GA", 
          "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", 
          "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", 
          "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", 
"SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY"]

In [40]:

for x in states:
    print(x)
    print(business[business.state==x].shape)
    print("\n\n")
#table[table.column_name == some_value]

AL
(3, 14)



AK
(2, 14)



AZ
(56686, 14)



AR
(1, 14)



CA
(19, 14)



CO
(0, 14)



CT
(3, 14)



DC
(0, 14)



DE
(0, 14)



FL
(4, 14)



GA
(2, 14)



HI
(0, 14)



ID
(0, 14)



IL
(1932, 14)



IN
(0, 14)



IA
(0, 14)



KS
(0, 14)



KY
(0, 14)



LA
(0, 14)



ME
(0, 14)



MD
(0, 14)



MA
(0, 14)



MI
(0, 14)



MN
(0, 14)



MS
(0, 14)



MO
(0, 14)



MT
(0, 14)



NE
(2, 14)



NV
(36312, 14)



NH
(0, 14)



NJ
(1, 14)



NM
(1, 14)



NY
(22, 14)



NC
(14720, 14)



ND
(0, 14)



OH
(14697, 14)



OK
(0, 14)



OR
(0, 14)



PA
(11216, 14)



RI
(0, 14)



SC
(1162, 14)



SD
(0, 14)



TN
(1, 14)



TX
(6, 14)



UT
(1, 14)



VT
(2, 14)



VA
(2, 14)



WA
(3, 14)



WV
(0, 14)



WI
(5154, 14)



WY
(0, 14)

In [41]:
print(business[business.city=="Las Vegas"].shape)

(29370, 14)

In [23]:
print(business.shape)
business.head()

(192609, 14)

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,postal_code,review_count,stars,state
0,2818 E Camino Acequia Drive,{'GoodForKids': 'False'},1SWheh84yJXfytovILXOAQ,"Golf, Active Life",Phoenix,None,0,33.522143,-112.018481,Arizona Biltmore Golf Club,85016,5,3.0,AZ
1,30 Eglinton Avenue W,"{'RestaurantsReservations': 'True', 'GoodForMe...",QXAEGFB4oINsVuTFxEYKFQ,"Specialty Food, Restaurants, Dim Sum, Imported...",Mississauga,"{'Monday': '9:0-0:0', 'Tuesday': '9:0-0:0', 'W...",1,43.605499,-79.652289,Emerald Chinese Restaurant,L5R 3E7,128,2.5,ON
2,"10110 Johnston Rd, Ste 15","{'GoodForKids': 'True', 'NoiseLevel': 'u'avera...",gnKjwL_1w79qoiV3IC_xQQ,"Sushi Bars, Restaurants, Japanese",Charlotte,"{'Monday': '17:30-21:30', 'Wednesday': '17:30-...",1,35.092564,-80.859132,Musashi Japanese Restaurant,28210,170,4.0,NC
3,"15655 W Roosevelt St, Ste 237",None,xvX2CttrVhyG2z1dFg_0xw,"Insurance, Financial Services",Goodyear,"{'Monday': '8:0-17:0', 'Tuesday': '8:0-17:0', ...",1,33.455613,-112.395596,Farmers Insurance - Paul Lorenz,85338,3,5.0,AZ
4,"4209 Stuart Andrew Blvd, Ste F","{'BusinessAcceptsBitcoin': 'False', 'ByAppoint...",HhyxOkGAM07SRYtlQ4wMFQ,"Plumbing, Shopping, Local Services, Home Servi...",Charlotte,"{'Monday': '7:0-23:0', 'Tuesday': '7:0-23:0', ...",1,35.190012,-80.887223,Queen City Plumbing,28217,4,4.0,NC

In [4]:
business = business[business["categories"].notna()]

#### need to convert 'categories' or 'attributes' to categorical data

In [5]:
cats = []
for i in business['categories'].values:
    i = i.split(", ")
    for j in i:
        cats.append(j)

print(len(np.unique(cats)))
np.unique(cats)

1300

array(['& Probates', '3D Printing', 'ATV Rentals/Tours', ..., 'Yoga',
       'Ziplining', 'Zoos'], dtype='<U35')

In [6]:
cat_vals = {}
count = 0
for cat in cats:
    cat_vals[cat] = count
    count = count + 1

In [7]:
business['categories_cat'] = business['categories'].astype('category')
business['categories_cat'] = business['categories_cat'].cat.codes

#business['attributes_cat'] = business['attributes'].astype('category')
#business['attributes_cat'] = business['attributes_cat'].cat.codes

business['city_cat'] = business['city'].astype('category')
business['city_cat'] = business['city_cat'].cat.codes

business['state_cat'] = business['state'].astype('category')
business['state_cat'] = business['state_cat'].cat.codes

In [8]:
business_x = business[['categories_cat', 'city_cat', 'state_cat']]
business_y = business[['stars']]

In [9]:
X_train, X_test, y_train, y_test = train_test_split(business_x, business_y, test_size=0.33, random_state=42)

In [10]:
clf = linear_model.Lasso(alpha=0.1)
clf.fit(X_train, y_train)
print(clf.coef_)
print(clf.intercept_)

[-1.55566303e-07  1.28578918e-05 -5.20590757e-03]
[3.66839254]

In [11]:
clf.score(X_test, y_test)

0.0026607318860488727