In [36]:
import datetime

import pandas as pd
from sklearn import linear_model
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import OneHotEncoder
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.linear_model import ElasticNet

from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

from scipy.sparse import csr_matrix, hstack, coo_matrix

import string
from sklearn.feature_extraction import stop_words
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction import DictVectorizer

from nltk.stem.snowball import EnglishStemmer
import nltk

import pickle

from sklearn.decomposition import LatentDirichletAllocation

In [2]:
business = pd.read_json('yelp_dataset/business.json', lines=True)
#checkin = pd.read_json('yelp_dataset/checkin.json', lines=True)
#photo = pd.read_json('yelp_dataset/photo.json', lines=True)
#review =  pd.read_json('yelp_dataset/review.json', lines=True)
#tip = pd.read_json('yelp_dataset/tip.json', lines=True)
##user = pd.read_json('yelp_dataset/user.json', lines=True)

In [3]:
business.head()

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,postal_code,review_count,stars,state
0,2818 E Camino Acequia Drive,{'GoodForKids': 'False'},1SWheh84yJXfytovILXOAQ,"Golf, Active Life",Phoenix,None,0,33.522143,-112.018481,Arizona Biltmore Golf Club,85016,5,3.0,AZ
1,30 Eglinton Avenue W,"{'RestaurantsReservations': 'True', 'GoodForMe...",QXAEGFB4oINsVuTFxEYKFQ,"Specialty Food, Restaurants, Dim Sum, Imported...",Mississauga,"{'Monday': '9:0-0:0', 'Tuesday': '9:0-0:0', 'W...",1,43.605499,-79.652289,Emerald Chinese Restaurant,L5R 3E7,128,2.5,ON
2,"10110 Johnston Rd, Ste 15","{'GoodForKids': 'True', 'NoiseLevel': 'u'avera...",gnKjwL_1w79qoiV3IC_xQQ,"Sushi Bars, Restaurants, Japanese",Charlotte,"{'Monday': '17:30-21:30', 'Wednesday': '17:30-...",1,35.092564,-80.859132,Musashi Japanese Restaurant,28210,170,4.0,NC
3,"15655 W Roosevelt St, Ste 237",None,xvX2CttrVhyG2z1dFg_0xw,"Insurance, Financial Services",Goodyear,"{'Monday': '8:0-17:0', 'Tuesday': '8:0-17:0', ...",1,33.455613,-112.395596,Farmers Insurance - Paul Lorenz,85338,3,5.0,AZ
4,"4209 Stuart Andrew Blvd, Ste F","{'BusinessAcceptsBitcoin': 'False', 'ByAppoint...",HhyxOkGAM07SRYtlQ4wMFQ,"Plumbing, Shopping, Local Services, Home Servi...",Charlotte,"{'Monday': '7:0-23:0', 'Tuesday': '7:0-23:0', ...",1,35.190012,-80.887223,Queen City Plumbing,28217,4,4.0,NC

In [4]:
#https://github.com/pandas-dev/pandas/issues/18152

max_records = 1e5
df = pd.read_json('yelp_dataset/review.json', lines=True, chunksize=max_records)
reviews = pd.DataFrame() # Initialize the dataframe
try:
   for df_chunk in df:
       reviews = pd.concat([reviews, df_chunk])
except ValueError:
       print ('\nSome messages in the file cannot be parsed')

In [5]:
print(reviews.shape)
reviews.head()

(6685900, 9)

,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,ujmEBvifdJM6h6RLv4wQIg,0,2013-05-07 04:34:36,1,Q1sbwvVQXV2734tPgoKj4Q,1,Total bill for this horrible service? Over $8G...,6,hG7b0MtEbXx5QzbzE6C_VA
1,NZnhc2sEQy3RmzKTZnqtwQ,0,2017-01-14 21:30:33,0,GJXCdrto3ASJOqKeVWPi6Q,5,I *adore* Travis at the Hard Rock's new Kelly ...,0,yXQM5uF2jS6es16SJzNHfg
2,WTqjgwHlXbSFevF32_DJVw,0,2016-11-09 20:09:03,0,2TzJjDVDEuAW6MR5Vuc1ug,5,I have to say that this office really has it t...,3,n6-Gk65cPZL6Uz8qRm3NYw
3,ikCg8xy5JIg_NGPx-MSIDA,0,2018-01-09 20:56:38,0,yi0R0Ugj_xUx_Nek0-_Qig,5,Went in for a lunch. Steak sandwich was delici...,0,dacAIZ6fTM6mqwW5uxkskg
4,b1b1eb3uo-w561D0ZfCEiQ,0,2018-01-30 23:07:38,0,11a8sVPMUFtaC7_ABRkmtw,1,Today was my second out of three sessions I ha...,7,ssoyf2_x0EQMed6fgHeMyQ

In [6]:
joined = reviews.join(business, lsuffix='_r', rsuffix='_b', how="inner")

In [7]:
print(joined.shape)
joined.head()

(192609, 23)

,business_id_r,cool,date,funny,review_id,stars_r,text,useful,user_id,address,...,city,hours,is_open,latitude,longitude,name,postal_code,review_count,stars_b,state
0,ujmEBvifdJM6h6RLv4wQIg,0,2013-05-07 04:34:36,1,Q1sbwvVQXV2734tPgoKj4Q,1,Total bill for this horrible service? Over $8G...,6,hG7b0MtEbXx5QzbzE6C_VA,2818 E Camino Acequia Drive,...,Phoenix,None,0,33.522143,-112.018481,Arizona Biltmore Golf Club,85016,5,3.0,AZ
1,NZnhc2sEQy3RmzKTZnqtwQ,0,2017-01-14 21:30:33,0,GJXCdrto3ASJOqKeVWPi6Q,5,I *adore* Travis at the Hard Rock's new Kelly ...,0,yXQM5uF2jS6es16SJzNHfg,30 Eglinton Avenue W,...,Mississauga,"{'Monday': '9:0-0:0', 'Tuesday': '9:0-0:0', 'W...",1,43.605499,-79.652289,Emerald Chinese Restaurant,L5R 3E7,128,2.5,ON
2,WTqjgwHlXbSFevF32_DJVw,0,2016-11-09 20:09:03,0,2TzJjDVDEuAW6MR5Vuc1ug,5,I have to say that this office really has it t...,3,n6-Gk65cPZL6Uz8qRm3NYw,"10110 Johnston Rd, Ste 15",...,Charlotte,"{'Monday': '17:30-21:30', 'Wednesday': '17:30-...",1,35.092564,-80.859132,Musashi Japanese Restaurant,28210,170,4.0,NC
3,ikCg8xy5JIg_NGPx-MSIDA,0,2018-01-09 20:56:38,0,yi0R0Ugj_xUx_Nek0-_Qig,5,Went in for a lunch. Steak sandwich was delici...,0,dacAIZ6fTM6mqwW5uxkskg,"15655 W Roosevelt St, Ste 237",...,Goodyear,"{'Monday': '8:0-17:0', 'Tuesday': '8:0-17:0', ...",1,33.455613,-112.395596,Farmers Insurance - Paul Lorenz,85338,3,5.0,AZ
4,b1b1eb3uo-w561D0ZfCEiQ,0,2018-01-30 23:07:38,0,11a8sVPMUFtaC7_ABRkmtw,1,Today was my second out of three sessions I ha...,7,ssoyf2_x0EQMed6fgHeMyQ,"4209 Stuart Andrew Blvd, Ste F",...,Charlotte,"{'Monday': '7:0-23:0', 'Tuesday': '7:0-23:0', ...",1,35.190012,-80.887223,Queen City Plumbing,28217,4,4.0,NC

#### Filter restaurants

In [8]:
temp = joined['categories'].str.contains('Restaurants', regex=False)
temp = temp.fillna(False)
joined = joined[temp]
print(joined.shape)
joined.head()

(59371, 23)

,business_id_r,cool,date,funny,review_id,stars_r,text,useful,user_id,address,...,city,hours,is_open,latitude,longitude,name,postal_code,review_count,stars_b,state
1,NZnhc2sEQy3RmzKTZnqtwQ,0,2017-01-14 21:30:33,0,GJXCdrto3ASJOqKeVWPi6Q,5,I *adore* Travis at the Hard Rock's new Kelly ...,0,yXQM5uF2jS6es16SJzNHfg,30 Eglinton Avenue W,...,Mississauga,"{'Monday': '9:0-0:0', 'Tuesday': '9:0-0:0', 'W...",1,43.605499,-79.652289,Emerald Chinese Restaurant,L5R 3E7,128,2.5,ON
2,WTqjgwHlXbSFevF32_DJVw,0,2016-11-09 20:09:03,0,2TzJjDVDEuAW6MR5Vuc1ug,5,I have to say that this office really has it t...,3,n6-Gk65cPZL6Uz8qRm3NYw,"10110 Johnston Rd, Ste 15",...,Charlotte,"{'Monday': '17:30-21:30', 'Wednesday': '17:30-...",1,35.092564,-80.859132,Musashi Japanese Restaurant,28210,170,4.0,NC
11,mRUVMJkUGxrByzMQ2MuOpA,0,2017-12-15 23:27:08,1,-I5umRTkhw15RqpKMl_o1Q,1,"Walked in around 4 on a Friday afternoon, we s...",0,-mA3-1mN4JIEkqOtdbNXCQ,2450 E Indian School Rd,...,Phoenix,"{'Monday': '7:0-0:0', 'Tuesday': '7:0-0:0', 'W...",1,33.495194,-112.028588,Taco Bell,85016,18,3.0,AZ
13,LUN6swQYa4xJKaM_UEUOEw,0,2018-04-27 20:25:26,0,qlXw1JQ0UodW7qrmVgwCXw,4,Michael from Red Carpet VIP is amazing ! I rea...,0,bAhqAPoWaZYcyYi7bs024Q,5981 Andrews Rd,...,Mentor-on-the-Lake,"{'Monday': '10:0-0:0', 'Tuesday': '10:0-0:0', ...",1,41.708520,-81.359556,Marco's Pizza,44060,16,4.0,OH
17,cHdJXLlKNWixBXpDwEGb_A,1,2015-04-01 16:30:00,7,6BnQwlxRn7ZuWdzninM9sQ,3,I love chinese food and I love mexican food. W...,1,JSrP-dUmLlwZiI7Dp3PQ2A,"1775 E Tropicana Ave, Ste 29",...,Las Vegas,None,0,36.100016,-115.128529,Carluccio's Tivoli Gardens,89119,40,4.0,NV

### Train/test split

In [9]:
temp = joined[['text', 'city', 'categories']]
X_train, X_test, y_train, y_test = train_test_split(temp, joined['stars_r'], test_size=0.2, random_state=42)
X_train.head()

,text,city,categories
45640,Delicious original and unique. Great atmospher...,Tempe,"Restaurants, Food, Cafeteria"
9017,"Like many Yelpers, I was eager to try this new...",Tempe,"Steakhouses, Restaurants"
48483,Saturday was a ladies night out. So as I meet ...,North York,"Sushi Bars, Restaurants, Japanese"
102691,"This place is great!! Good food, neat atmosphe...",Montréal,"Vegetarian, Mediterranean, Restaurants, Falafel"
8680,"Sunday dinner was okay, not bad but not good. ...",Brampton,"Caterers, Nightlife, Caribbean, Restaurants, E..."

### TF-IDF

In [10]:
corpus = X_train['text']
vectorizer = TfidfVectorizer(min_df = 0.01)

vectorizer.fit(corpus)

tf_train = vectorizer.transform(corpus)
tf_train

<47496x982 sparse matrix of type '<class 'numpy.float64'>'
	with 2530959 stored elements in Compressed Sparse Row format>

In [11]:
#test data
test_corpus = X_test['text']
tf_test = vectorizer.transform(test_corpus)
tf_test

<11875x982 sparse matrix of type '<class 'numpy.float64'>'
	with 636571 stored elements in Compressed Sparse Row format>

### One-hot encoding

In [12]:
X_train.head()

,text,city,categories
45640,Delicious original and unique. Great atmospher...,Tempe,"Restaurants, Food, Cafeteria"
9017,"Like many Yelpers, I was eager to try this new...",Tempe,"Steakhouses, Restaurants"
48483,Saturday was a ladies night out. So as I meet ...,North York,"Sushi Bars, Restaurants, Japanese"
102691,"This place is great!! Good food, neat atmosphe...",Montréal,"Vegetarian, Mediterranean, Restaurants, Falafel"
8680,"Sunday dinner was okay, not bad but not good. ...",Brampton,"Caterers, Nightlife, Caribbean, Restaurants, E..."

In [13]:
#common_cats = ['Nightlife', 'Pizza', 'Burger', 'Chinese', 'Steak', 'Sandwiches', 'Fast Food']
common_cats = ['Pizza', 'Mexican', 'Chinese', 'Italian', 'Vietnamese']

In [14]:
for cat in common_cats:
    X_train[cat] = 0
    X_test[cat] = 0
X_train.head()

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,text,city,categories,Pizza,Mexican,Chinese,Italian,Vietnamese
45640,Delicious original and unique. Great atmospher...,Tempe,"Restaurants, Food, Cafeteria",0,0,0,0,0
9017,"Like many Yelpers, I was eager to try this new...",Tempe,"Steakhouses, Restaurants",0,0,0,0,0
48483,Saturday was a ladies night out. So as I meet ...,North York,"Sushi Bars, Restaurants, Japanese",0,0,0,0,0
102691,"This place is great!! Good food, neat atmosphe...",Montréal,"Vegetarian, Mediterranean, Restaurants, Falafel",0,0,0,0,0
8680,"Sunday dinner was okay, not bad but not good. ...",Brampton,"Caterers, Nightlife, Caribbean, Restaurants, E...",0,0,0,0,0

In [15]:
#https://stackoverflow.com/questions/36909977/update-row-values-where-certain-condition-is-met-in-pandas
for cat in common_cats:
    X_train.loc[X_train['categories'].str.contains(cat, regex=False), [cat]] = 1
    X_test.loc[X_test['categories'].str.contains(cat, regex=False), [cat]] = 1
X_train.head()

/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:537: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

,text,city,categories,Pizza,Mexican,Chinese,Italian,Vietnamese
45640,Delicious original and unique. Great atmospher...,Tempe,"Restaurants, Food, Cafeteria",0,0,0,0,0
9017,"Like many Yelpers, I was eager to try this new...",Tempe,"Steakhouses, Restaurants",0,0,0,0,0
48483,Saturday was a ladies night out. So as I meet ...,North York,"Sushi Bars, Restaurants, Japanese",0,0,0,0,0
102691,"This place is great!! Good food, neat atmosphe...",Montréal,"Vegetarian, Mediterranean, Restaurants, Falafel",0,0,0,0,0
8680,"Sunday dinner was okay, not bad but not good. ...",Brampton,"Caterers, Nightlife, Caribbean, Restaurants, E...",0,0,0,0,0

In [16]:
X_train['city'] = X_train['city'].str.lower()
X_test['city'] = X_test['city'].str.lower()

#X_train['state'] = X_train['state'].str.lower()
#X_test['state'] = X_test['state'].str.lower()

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [17]:
enc = OneHotEncoder(handle_unknown='ignore')
enc.fit(X_train['city'].reshape(-1,1))

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: reshape is deprecated and will raise in a subsequent release. Please use .values.reshape(...) instead

OneHotEncoder(categorical_features=None, categories=None,
       dtype=<class 'numpy.float64'>, handle_unknown='ignore',
       n_values=None, sparse=True)

In [18]:
X_trainC = enc.transform(X_train['city'].reshape(-1,1))
X_testC = enc.transform(X_test['city'].reshape(-1,1))
X_trainC

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: reshape is deprecated and will raise in a subsequent release. Please use .values.reshape(...) instead
  """Entry point for launching an IPython kernel.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: reshape is deprecated and will raise in a subsequent release. Please use .values.reshape(...) instead

<47496x684 sparse matrix of type '<class 'numpy.float64'>'
	with 47496 stored elements in Compressed Sparse Row format>

In [19]:
cities = []
for t in enc.categories_:
    for c in t:
        cities.append(c)

In [20]:
X_train[common_cats].values

array([[0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0],
       ...,
       [0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0],
       [0, 0, 0, 1, 0]])

In [21]:
X_train_cats = csr_matrix(X_train[common_cats].values) 
X_test_cats = csr_matrix(X_test[common_cats].values)
X_train_cats

<47496x5 sparse matrix of type '<class 'numpy.int64'>'
	with 17419 stored elements in Compressed Sparse Row format>

### Join results

In [22]:
X_trainJ = hstack([tf_train, X_trainC, X_train_cats], format="csr")
X_testJ = hstack([tf_test, X_testC, X_test_cats], format="csr")

### Grid Search

#### Ridge

In [23]:
parameters = {"alpha":[0.0001, 0.001, 0.01, 0.1]}

In [24]:
ridge = Ridge()
ridge_grid = GridSearchCV(estimator=ridge, param_grid=parameters, cv=10, scoring="r2", n_jobs=20)
print(ridge_grid)

GridSearchCV(cv=10, error_score='raise-deprecating',
       estimator=Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=None, solver='auto', tol=0.001),
       fit_params=None, iid='warn', n_jobs=20,
       param_grid={'alpha': [0.0001, 0.001, 0.01, 0.1]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='r2', verbose=0)

In [25]:
print(X_train.shape)
print(y_train.shape)
ridge_grid.fit(X_trainJ, y_train)

(47496, 8)
(47496,)

GridSearchCV(cv=10, error_score='raise-deprecating',
       estimator=Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=None, solver='auto', tol=0.001),
       fit_params=None, iid='warn', n_jobs=20,
       param_grid={'alpha': [0.0001, 0.001, 0.01, 0.1]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='r2', verbose=0)

In [26]:
print("Best parameters set found on development set:")
print()
print(ridge_grid.best_params_)
print()
print("Grid scores on development set:")
print()
means = ridge_grid.cv_results_['mean_test_score']
stds = ridge_grid.cv_results_['std_test_score']
for mean, std, params in zip(means, stds, ridge_grid.cv_results_['params']):
    print("%0.3f (+/-%0.03f) for %r"
          % (mean, std * 2, params))
print()

Best parameters set found on development set:

{'alpha': 0.1}

Grid scores on development set:

0.618 (+/-0.015) for {'alpha': 0.0001}
0.618 (+/-0.015) for {'alpha': 0.001}
0.618 (+/-0.015) for {'alpha': 0.01}
0.618 (+/-0.015) for {'alpha': 0.1}

#### Lasso

In [27]:
lasso = Lasso()

In [28]:
lasso_grid = GridSearchCV(estimator=lasso, param_grid=parameters, cv=10, scoring="r2", n_jobs=20)
print(lasso_grid)

GridSearchCV(cv=10, error_score='raise-deprecating',
       estimator=Lasso(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=1000,
   normalize=False, positive=False, precompute=False, random_state=None,
   selection='cyclic', tol=0.0001, warm_start=False),
       fit_params=None, iid='warn', n_jobs=20,
       param_grid={'alpha': [0.0001, 0.001, 0.01, 0.1]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='r2', verbose=0)

In [29]:
lasso_grid.fit(X_trainJ, y_train)

GridSearchCV(cv=10, error_score='raise-deprecating',
       estimator=Lasso(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=1000,
   normalize=False, positive=False, precompute=False, random_state=None,
   selection='cyclic', tol=0.0001, warm_start=False),
       fit_params=None, iid='warn', n_jobs=20,
       param_grid={'alpha': [0.0001, 0.001, 0.01, 0.1]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='r2', verbose=0)

In [30]:
print("Best parameters set found on development set:")
print()
print(lasso_grid.best_params_)
print()
print("Grid scores on development set:")
print()
means = lasso_grid.cv_results_['mean_test_score']
stds = lasso_grid.cv_results_['std_test_score']
for mean, std, params in zip(means, stds, lasso_grid.cv_results_['params']):
    print("%0.3f (+/-%0.03f) for %r"
          % (mean, std * 2, params))
print()

Best parameters set found on development set:

{'alpha': 0.0001}

Grid scores on development set:

0.622 (+/-0.013) for {'alpha': 0.0001}
0.546 (+/-0.009) for {'alpha': 0.001}
0.165 (+/-0.007) for {'alpha': 0.01}
-0.000 (+/-0.001) for {'alpha': 0.1}

#### Elastic Net

In [31]:
ElasticNet = ElasticNet()

In [32]:
en_grid = GridSearchCV(estimator=ElasticNet, param_grid=parameters, cv=10, scoring="r2", n_jobs=20)
print(en_grid)

GridSearchCV(cv=10, error_score='raise-deprecating',
       estimator=ElasticNet(alpha=1.0, copy_X=True, fit_intercept=True, l1_ratio=0.5,
      max_iter=1000, normalize=False, positive=False, precompute=False,
      random_state=None, selection='cyclic', tol=0.0001, warm_start=False),
       fit_params=None, iid='warn', n_jobs=20,
       param_grid={'alpha': [0.0001, 0.001, 0.01, 0.1]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='r2', verbose=0)

In [33]:
en_grid.fit(X_trainJ, y_train)

GridSearchCV(cv=10, error_score='raise-deprecating',
       estimator=ElasticNet(alpha=1.0, copy_X=True, fit_intercept=True, l1_ratio=0.5,
      max_iter=1000, normalize=False, positive=False, precompute=False,
      random_state=None, selection='cyclic', tol=0.0001, warm_start=False),
       fit_params=None, iid='warn', n_jobs=20,
       param_grid={'alpha': [0.0001, 0.001, 0.01, 0.1]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='r2', verbose=0)

In [34]:
print("Best parameters set found on development set:")
print()
print(en_grid.best_params_)
print()
print("Grid scores on development set:")
print()
means = en_grid.cv_results_['mean_test_score']
stds = en_grid.cv_results_['std_test_score']
for mean, std, params in zip(means, stds, en_grid.cv_results_['params']):
    print("%0.3f (+/-%0.03f) for %r"
          % (mean, std * 2, params))
print()

Best parameters set found on development set:

{'alpha': 0.0001}

Grid scores on development set:

0.623 (+/-0.014) for {'alpha': 0.0001}
0.563 (+/-0.008) for {'alpha': 0.001}
0.198 (+/-0.003) for {'alpha': 0.01}
-0.000 (+/-0.001) for {'alpha': 0.1}

### Predict outputs

In [37]:
en_final = ElasticNet(alpha=0.0001)
en_final.fit(X_trainJ, y_train)

ElasticNet(alpha=0.0001, copy_X=True, fit_intercept=True, l1_ratio=0.5,
      max_iter=1000, normalize=False, positive=False, precompute=False,
      random_state=None, selection='cyclic', tol=0.0001, warm_start=False)

In [38]:
y_pred = en_final.predict(X_testJ)
y_pred

array([4.15600138, 3.72983652, 3.94391182, ..., 0.08668382, 3.70109151,
       3.59950643])

In [39]:
r2_score(y_test, y_pred)

0.6210477250037865

In [40]:
def genCat(cat, common_cats):
    row = pd.DataFrame(columns=common_cats)
    row.loc[0] = [0]*len(common_cats)
    row.loc[:, cat] = 1
    row = row.astype('int64')
    row = csr_matrix(row.values)
    return row

In [41]:
def genCity(city):
    row = pd.DataFrame(columns=cities)
    row.loc[0] = [0]*len(cities)
    row.loc[:, city] = 1
    row = row.astype('int64')
    row = csr_matrix(row.values)
    return row

In [42]:
def get_size(text, city, cat):

    text_tf = vectorizer.transform(text)
    text_enc = genCity(city)
    cat_row = genCat(cat, common_cats)

    text_joined = hstack([text_tf, text_enc, cat_row], format="csr")
    return text_joined

In [43]:
def predict_city_cat(text, city, cat):

    text_tf = vectorizer.transform(text)
    text_enc = genCity(city)
    cat_row = genCat(cat, common_cats)

    text_joined = hstack([text_tf, text_enc, cat_row], format="csr")
    return en_final.predict(text_joined)

In [44]:
print(predict_city_cat(["this is a review"], "phoenix", "Pizza"))
print(predict_city_cat(["this is a review"], "las vegas", "Pizza"))
print(predict_city_cat(["this is a review"], "phoenix", "Chinese"))
print(predict_city_cat(["this is a review"], "las vegas", "Chinese"))
print()
print(predict_city_cat(["This is a great restaurant!"], "phoenix", "Pizza"))
print(predict_city_cat(["This is a great restaurant!"], "las vegas", "Pizza"))
print(predict_city_cat(["This is a great restaurant!"], "phoenix", "Chinese"))
print(predict_city_cat(["This is a great restaurant!"], "las vegas", "Chinese"))
print(predict_city_cat(["This is a good review"], "las vegas", "Chinese"))
print()
print(predict_city_cat(["This is a bad restaurant!"], "phoenix", "Pizza"))
print(predict_city_cat(["This is a bad restaurant!"], "las vegas", "Pizza"))
print(predict_city_cat(["This is a bad restaurant!"], "phoenix", "Chinese"))
print(predict_city_cat(["This is a bad restaurant!"], "las vegas", "Chinese"))

[3.285874]
[3.25266299]
[3.32257455]
[3.28936353]

[4.29406407]
[4.26085305]
[4.33076461]
[4.29755359]
[3.73962171]

[2.33368915]
[2.30047813]
[2.37038969]
[2.33717867]

### pickle

In [ ]:
with open('enc.pkl', 'wb') as enc_file:
    pickle.dump(enc, enc_file)

with open('vec.pkl', 'wb') as vec_file:
    pickle.dump(vectorizer, vec_file)

with open('model.pkl', 'wb') as file:
    pickle.dump(en_final, file)

In [ ]:
s = pickle.dumps(en_final)
p = pickle.loads(s)

In [ ]:
def pickle_predict(text, city, cat):

    text_tf = vectorizer.transform(text)
    text_enc = genCity(city)
    cat_row = genCat(cat, common_cats)

    text_joined = hstack([text_tf, text_enc, cat_row], format="csr")
    return p.predict(text_joined)

In [ ]:
print(pickle_predict(["this is a review"], "phoenix", "Pizza"))
print(pickle_predict(["this is a review"], "las vegas", "Pizza"))
print(pickle_predict(["this is a review"], "phoenix", "Chinese"))
print(pickle_predict(["this is a review"], "las vegas", "Chinese"))
print()
print(pickle_predict(["This is a great restaurant!"], "phoenix", "Pizza"))
print(pickle_predict(["This is a great restaurant!"], "las vegas", "Pizza"))
print(pickle_predict(["This is a great restaurant!"], "phoenix", "Chinese"))
print(pickle_predict(["This is a great restaurant!"], "las vegas", "Chinese"))
print(pickle_predict(["This is a good review"], "las vegas", "Chinese"))
print()
print(pickle_predict(["This is a bad restaurant!"], "phoenix", "Pizza"))
print(pickle_predict(["This is a bad restaurant!"], "las vegas", "Pizza"))
print(pickle_predict(["This is a bad restaurant!"], "phoenix", "Chinese"))
print(pickle_predict(["This is a bad restaurant!"], "las vegas", "Chinese"))